@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway","Open Sans";
}
body{
    background-image: linear-gradient(45deg,#e9392c,#632841d0);
}
.navbar{
    padding: 15px 0 15px 0;
    -webkit-transition: all 300ms linear; 
    transition: all 300ms linear;
}
.site-nav-wrapper{
    padding: 0 85px;
    margin: 0px;
}
.navbar-brand{
    padding: 5px 15px;
}

.navbar-brand h3{
    padding: 0px;
    margin: 0px;
    font-size: 3.5rem;
    color: #fff;
    
}
.navbar-brand h3 span{
    font-family: "Arizonia" !important;
    color: #f4c613;
}
.navbar-brand h4{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #f4c613;
}
ul.navbar-nav > li > a{
    font-family: "Raleway",sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
} 
ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus{
    background: none;
    color: #f4c613;
}
/* white navigation------------------ */
.white-nav-top{
    background: #f4c613;
    padding: 8px 0;
    -webkit-box-shadow: 0 8px 6px -9 #999;
    box-shadow: 0 8px 6px -9 #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav > li > a{
    color: #fff;
}
.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus
{
    color: #f00d59;
}

/* scroll spy active state--------------- */
.white-nav-top ul.navbar-nav > li.active > a{
    color: #f00d59;
    font-weight: bold;
}
section{
    padding: 20px;
    width: 1280px;
    margin: 10rem auto 5rem auto;
}

section ul{
    display: flex;
    margin-bottom: 10px;
}

section ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active{
    background: #f00d59;
    color: #fff;
}
.product{
    display: flex;
    flex-wrap: wrap;
}
.product .itembox{
    margin: 5px;
    position: relative;
    width: 300px;
    height: 300px;
}
.product .itembox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#submit-btn .btn{
    background: #f4c613;
    border-color: #f4c613;
    border-radius: 20px;
}

#submit-btn .btn:hover{
    background: #000;
    border-color: #000;
    color: #f4c613;
}
/*=======================================================================
                        Footer Section
======================================================================*/

footer{
    font-family: "Raleway","Open Sans";
    background: #212226;
    padding: 20px;
}
footer h5{
    color: #fff;
    line-height: 20px;
}
footer p span{
    color: #f4c613;
}

/* back-button---------------- */
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    display: none;
}
.btn-back-to-top{
    background: #f4c613;
    border-color: #f4c613;
}

.btn-back-to-top:hover{
    background: #000;
    border-color: #000;
    color: #f4c613;
}
