/*=======================================================================
                        mobile menue Section
======================================================================*/

.navbar-header{
    position: relative;
}
#mobile-nav-open-btn{
    font-size: 30px;
    color: #f00d59;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    display: none;
} 
#mobile-nav{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}
#mobile-nav-close-btn{
    font-family: "Raleway",sans-serif;
    font-size: 70px;
    color: #f00d59;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -27px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav ul li{
    margin-bottom: 20px;
}

#mobile-nav a{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus{
    color: #f00d59;
    background: none;
}
.white-nav-top #mobile-nav
ul.nav>li.active>a{
    color: #f00d59;
    font-weight: 500;
}
/*=======================================================================
                        Bootstrap media queries
======================================================================*/

/* Large devices desktop & laptop---------------- */
@media (min-width:1200px) and (max-width:1299px){
    
    .site-nav-wrapper{
        padding: 0 10px;
    }

}

/* Medium Devices (Landscape Tablets & Medium Desktops)------ */
@media (min-width:992px) and (max-width:1199px){

    .site-nav-wrapper{
        padding: 0;
    }
    .vertical-heading{
        font-size: 29px;
    }
}

/* Small Devices (Portrait Tablets & small Desktops)------------ */
@media (min-width:768px) and (max-width:991px){

    #newsheading{
        padding: 0;
        margin-bottom: 0px;
        font-size: 4rem;
        transform: translateY(100px);
    }
    #news-heading-2{
        padding: 0;
        margin: 0;
        font-size: 4rem;
        transform: translateY(100px);

    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 2rem;
        transform: translateY(100px);
    }
    .submit{
        font-size: 2rem;
        transform: translateY(200px);
    }
    
    .site-nav-wrapper{
        padding: 0px;
    }

    #home-heading h1{
        font-size: 41px;
    }
    #home-text p{
        font-size: 13px;
    }
    ul.navbar-nav > li >a{
        padding: 15px 5px 0 25px;
        font-size: 10px;
    }
    .btn-general{
        padding: 8px 35px 8px 35px;
        font-size: 10px;
    }
    
    .vertical-heading h2{
        font-size: 29px;
    }
    #tech-statement h3{
        font-size: 20px;
        line-height: 30px;
    }
    /* blog--- */
    .blog-post .post-meta p{
        line-height: 14px;
    }

    /* stats */
    .stats-item p{
        line-height: 18px;
    }

    /* contact */
    ul.office-details li i{
        margin:0 15px 0 15px;
    }
    ul.office-details li i{
        width: 20px;
    }
    /* pricing */
    .pricing-table .price h2{
        margin: 0 0 0 6px;
        font-size: 35px;
    }
    .pricing-table .price .month{
        margin: -15%;
    }
}

/* Extra small Devices (Landscape phones & Portrait Tablets)------- */
@media (max-width:767px){

    #newsheading{
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 3.5rem;
        transform: translateY(140px);
    }
    #news-heading-2{
        padding: 0;
        margin: 0;
        font-size: 3rem;
        transform: translateY(140px);

    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 1.75rem;
        transform: translateY(140px);
    }
    .submit{
        font-size: 2rem;
        transform: translateY(200px);
    }
    .navbar-brand h3{
        padding: 0;
        font-size: 31px;
    }
    .navbar-brand h4{
        padding: 0;
        font-size: 11px;
    }
    .navbar{
        padding: 20px 0;
    }
    .site-nav-wrapper,
    .white-nav-top{
        padding: 0;
    }
    #mobile-nav-open-btn{
        display: block;
    }
    ul.navbar-nav > li >a{
        padding: 15px 5px 0 12px;
    }
    #heading-om{
        font-size: 10px;
    }

    #home-heading h1{
        font-size: 22px;
    }
    #home-text p{
        font-size: 13px;
        line-height: 18px;
        margin: 8px 2px 30px 2px;
    }
    .btn-general{
        padding: 8px 25px 6px 25px;
        font-size: 10px;
    }
    .button{
        align-items: center;
        padding: 5px 5px;        
        font-size: 10px;
    }
    /* About */
    .content-box-lg{
        padding: 90px 0;
    }
    /* vertical-heading */
    .vertical-heading{
        text-align: center;
    }
    .vertical-heading h5{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }
    .vertical-heading h2{
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }

    /* pricing */
    .pricing-table{
        margin:0 0 20px 0;
    }
    .pricing-table .price h2{
        margin: 0 0 0 6px;
        font-size: 35px;
    }
    .pricing-table .price p{
        margin: 5%;
    }

    #about-left {
        margin-bottom: 50px;
    }
    #about-right {
        text-align: center;
    }
    /* About 02 */
    .content-box-md {
        padding: 80px 0;
    }
    .about-item{
        padding: 55px 30px;
        margin-bottom: 35px;
    }
    .about-item i{
        font-size: 30px;
    }
    .about-item h3{
        font-size: 18px;
    }
    /* Team section */
    #team-left .vertical-heading {
        min-height: 130px;
    }
    .skill h4{
        font-size: 14px;
        line-height: 35px;
    }
    #tech-statement h3{
        font-size: 20px;
        line-height: 30px;
    }

    /* Services 01 */
    .horizontal-heading{
        margin-bottom: 40px;
    }
    .horizontal-heading h2{
        font-size: 30px;
    }
    .service-item{
        /* padding: 5px; */
        margin-bottom: 35px;
    }
    .service-item img{
        width:100%;
        padding: 1px;
        font-size: 30px;
    }
    .about-item h3{
        font-size: 18px;
    }
    #services-02 img{
        margin: 35px 0;
    }
    .service, .service .icon {
        text-align: center;
    }
    .service h4{
        font-size: 18px;
    }
    /* Worksection/portfolio section */
    #portfolio{
        padding-bottom: 0px;
    }
    /* #isotope-filters button{
        padding-right: 15px;
    }
    /* Testimonial  */
    /*#testimonials{
        padding-top: 45px;
    } */
    /* stats */
    .stats-item{
        margin-bottom: 20px;
        padding: 25px 5px;
    }
    .stats-item i{
        font-style: 30px;
    }
    .stats-item h3{
        font-size: 24px;        
    }
    /* Blog */
    #blog-left{
        text-align: center;
        margin-bottom: 50px;
    }
    .blog-post{
        margin-bottom: 25px;
    }
    /* contact */
    #contact-left{
        text-align: center;
    }
    .office{
        margin-bottom: 40px;
    }
    ul.office-details li{
        display: block;
        margin-top: 25px;
    }
    ul.office-details li i{
        width: auto;
        display: block;
        margin-bottom: 3px;
    }
    ul.social-list{
        margin-bottom: 40px;
    }
}
@media(max-width: 680px){
    #newsheading{
        padding: 0;
        font-size: 2rem;
        transform: translateY(50px);
    }
    #news-heading-2{
        padding: 0;
        font-size: 2rem;
        transform: translateY(40px);
    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        transform: translateY(30px);
    }
    .submit{
        font-size: .75rem;
        transform: translateY(50px);
    }
}   

@media(max-width: 580px){
    #newsheading{
        padding: 0;
        font-size: 2rem;
        transform: translateY(50px);
    }
    #news-heading-2{
        padding: 0;
        font-size: 2rem;
        transform: translateY(40px);
    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        transform: translateY(30px);
    }
    .submit{
        font-size: .75rem;
        transform: translateY(40px);
    }
}

@media (max-width:480px){

    #newsheading{
        padding: 0;
        font-size: 2rem;
        transform: translateY(100px);
    }
    #news-heading-2{
        padding: 0;
        font-size: 2rem;
        transform: translateY(100px);
    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        transform: translateY(100px);
    }
    .submit{
        font-size: 1.5rem;
        transform: translateY(230px);
    }
    .navbar-brand h3{
        padding: 0;
        font-size: 25px;
    }
    .navbar-brand h4{
        padding: 0;
        font-size: 10px;
    }
    #heading-om{
        font-size: 8px;
    }
    #home-heading h1{
        font-size: 18px;
    }
    #home-text p{
        font-size: 11px;
        line-height: 16pxx;
        margin: 8px 10px 25px 10px;
    }
    .vertical-heading h2{
        font-size: 29px;
    }
}
@media (max-width:360px)
{

    #newsheading{
        padding: 0;
        font-size: 1.75rem;
        transform: translateY(130px);
    }
    #news-heading-2{
        padding: 0;
        font-size: 1.75rem;
        transform: translateY(140px);
    }
    #popup p{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        transform: translateY(150px);
    }
    .submit{
        font-size: 1rem;
        transform: translateY(230px);
    }
}